<div class="col-lg-12">
  <% if @post %>
    <h1><%= @post.title %></h1>
    <p><%= @post.description %></p>
    <p>$<%= @post.price %>.00</p> 
  <% else %>
    <h1>Post does not exist!</h1>
  <% end %>
</div>